.registerContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.register{

    height: 90%;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-top: 100px;
    box-shadow: 0 0 5px rgb(190, 190, 190);
    border-radius: 5px;
}


.registerTitle{
    font-size: 50px;
}

.profilePic{
    width:150px;
    height:150px;
    border-radius: 50%;
    object-fit:none;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerForm>label{
    margin: 10px 0;

}

.registerInput{
    padding: 10px;
    background-color: white;
    border:none;
    border-bottom: 1px solid black;
    
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border:none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerButton:disabled{
    cursor: not-allowed;
    background-color:coral;
}